body { 
	margin: 0;
    width: 240px;
    height: 184px;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color:#dadada;
}



/* styles for the data table */
#chart { float: left; }
#container { background-color: #dadada; color: #eee; width: 240px }
#clear { clear: both }