body{
    margin: 0;
    width: 130px;
    height: 165px;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#data-bg {
	position:absolute;
	left:0;
	top:0;
}

#balance{
	color:#f1ffdd;
	font-family: "Segoe UI", arial, sans-serif;
	font-weight: bold;
	font-size:20px;
	position: absolute;
	top:6px;
	left:15px;
}
#thisMonth{
	color:#f1ffdd;
	font-family: "Segoe UI", arial, sans-serif;
	font-weight: bold;
	font-size:20px;
	position: absolute;
	top:68px;
	left:15px;
}