body{
    margin: 0;
    width: 130px;
    height: 123px;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#balance{
	color:#dff287;
	font-family: Georgia, Times New Roman, serif;
	font-weight: normal;
	font-size:18px;
	position: absolute;
	top:18px;
	left:27px;
}

#message{
	font-family: arial, sans-serif;
	font-size:11px;
	position:absolute;
	top:47px;
	left:14px;
	color:#ffffff;
}